## DATA

### Seattle Police Department (SPD) has been collecting detailed data about cars collisions. It will be used for developing model that allows to determine locations, weather conditions, days of week, time of day and other factors that are helpful for car collisions prediction.

### the dataset is available at https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

### File with metadata is available at https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf

### We start for uploading data and analysis of data structure

In [144]:
df = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [303]:
df.shape

(194673, 38)

In [304]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [305]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

### Severity code variable is the target variable. It contains only two categories: 1 - Property Damage Only Collision, 2 - Injury Collision

In [306]:
df['SEVERITYDESC'].value_counts()

Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

### Independent variables include: location type (ADDRTYPE), date and time of incident (INCDATE and INCDTTM), driver's intoxication (UNDERINFL), weather, road and light conditions (WEATHER, ROADCOND and LIGHTCOND)

In [326]:
df1=df[['ADDRTYPE','INCDATE','INCDTTM','UNDERINFL','WEATHER','ROADCOND','LIGHTCOND','SEVERITYCODE']]

In [327]:
df1.head()

,ADDRTYPE,INCDATE,INCDTTM,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SEVERITYCODE
0,Intersection,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,N,Overcast,Wet,Daylight,2
1,Block,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,0,Raining,Wet,Dark - Street Lights On,1
2,Block,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,0,Overcast,Dry,Daylight,1
3,Block,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,N,Clear,Dry,Daylight,1
4,Intersection,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,0,Raining,Wet,Daylight,2

In [328]:
df1.shape

(194673, 8)

### All raws with missing data will be deleted. The dataset contains almost 200,000 records and deleting of 15% of data will not affect results

In [329]:
missing_data = df1.isnull()
missing_data.head(5)

,ADDRTYPE,INCDATE,INCDTTM,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SEVERITYCODE
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False

In [330]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64

INCDATE
False    194673
Name: INCDATE, dtype: int64

INCDTTM
False    194673
Name: INCDTTM, dtype: int64

UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

LIGHTCOND
False    189503
True       5170
Name: LIGHTCOND, dtype: int64

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

In [331]:
df1.dropna(axis=0,inplace=True)

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [332]:
df1.shape

(187525, 8)

### Additional check for data consistency discovered that records with "Other" and "Unknown" data has to be deleted as well

In [333]:
for column in ['ADDRTYPE','UNDERINFL','WEATHER','ROADCOND','LIGHTCOND']:
    print(column)
    print(df1[column].value_counts())
    print('')

ADDRTYPE
Block           123321
Intersection     63462
Alley              742
Name: ADDRTYPE, dtype: int64

UNDERINFL
N    98751
0    79706
Y     5076
1     3992
Name: UNDERINFL, dtype: int64

WEATHER
Clear                       110499
Raining                      32976
Overcast                     27551
Unknown                      14059
Snowing                        896
Other                          790
Fog/Smog/Smoke                 563
Sleet/Hail/Freezing Rain       112
Blowing Sand/Dirt               49
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

ROADCOND
Dry               123736
Wet                47223
Unknown            14009
Ice                 1193
Snow/Slush           992
Other                124
Standing Water       111
Sand/Mud/Dirt         73
Oil                   64
Name: ROADCOND, dtype: int64

LIGHTCOND
Daylight                    115408
Dark - Street Lights On      48236
Unknown                      12599
Dusk                          5843
Dawn                          2491
Dark - No Street Lights       1526
Dark - Street Lights Off      1184
Other                          227
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [334]:
df1.replace(['Unknown','Other'], np.nan, inplace=True)

D:\anaconda3\lib\site-packages\pandas\core\frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [335]:
df1.dropna(axis=0,inplace=True)

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [336]:
df1.shape

(169247, 8)

### Data in column 'UNDERINFL' has to be amended

In [337]:
df1['UNDERINFL'].replace('0','N',inplace=True)
df1['UNDERINFL'].replace('1','Y',inplace=True)

D:\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

### Conversion of INCDATE and INCDTTM to days of week and hours

In [338]:
df1['INCDATE']=pd.to_datetime(df1['INCDATE'])

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [339]:
df1['WDAY'] = df1['INCDATE'].dt.dayofweek

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [340]:
df1['INCDTTM']=pd.to_datetime(df1['INCDTTM'])

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [341]:
df1['HOUR']= df1['INCDTTM'].dt.hour

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [343]:
df1.drop(columns=['INCDATE','INCDTTM'])

,ADDRTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SEVERITYCODE,WDAY,HOUR
0,Intersection,N,Overcast,Wet,Daylight,2,2,14
1,Block,N,Raining,Wet,Dark - Street Lights On,1,2,18
2,Block,N,Overcast,Dry,Daylight,1,3,10
3,Block,N,Clear,Dry,Daylight,1,4,9
4,Intersection,N,Raining,Wet,Daylight,2,2,8
...,...,...,...,...,...,...,...,...
194668,Block,N,Clear,Dry,Daylight,2,0,8
194669,Block,N,Raining,Wet,Daylight,1,1,9
194670,Intersection,N,Clear,Dry,Daylight,2,5,9
194671,Intersection,N,Clear,Dry,Dusk,2,1,16
194672,Block,N,Clear,Wet,Daylight,1,4,15

In [344]:
for column in ['ADDRTYPE','UNDERINFL','WEATHER','ROADCOND','LIGHTCOND','WDAY','HOUR']:
    print(column)
    print(df1[column].value_counts(normalize=True))
    print('')

ADDRTYPE
Block           0.634475
Intersection    0.362021
Alley           0.003504
Name: ADDRTYPE, dtype: float64

UNDERINFL
N    0.947107
Y    0.052893
Name: UNDERINFL, dtype: float64

WEATHER
Clear                       0.640348
Raining                     0.192110
Overcast                    0.158408
Snowing                     0.004851
Fog/Smog/Smoke              0.003232
Sleet/Hail/Freezing Rain    0.000626
Blowing Sand/Dirt           0.000248
Severe Crosswind            0.000148
Partly Cloudy               0.000030
Name: WEATHER, dtype: float64

ROADCOND
Dry               0.714819
Wet               0.272619
Ice               0.006334
Snow/Slush        0.004898
Standing Water    0.000597
Sand/Mud/Dirt     0.000378
Oil               0.000355
Name: ROADCOND, dtype: float64

LIGHTCOND
Daylight                    0.662499
Dark - Street Lights On     0.275272
Dusk                        0.033147
Dawn                        0.014204
Dark - No Street Lights     0.008284
Dark - Street Lights Off    0.006547
Dark - Unknown Lighting     0.000047
Name: LIGHTCOND, dtype: float64

WDAY
4    0.166396
3    0.151152
2    0.148050
1    0.146691
5    0.141338
0    0.134283
6    0.112091
Name: WDAY, dtype: float64

HOUR
0     0.152700
17    0.069171
16    0.065543
15    0.061998
14    0.057762
13    0.054819
12    0.054075
18    0.050837
8     0.044828
11    0.043818
9     0.042311
10    0.038624
19    0.037980
7     0.034766
20    0.032101
21    0.029170
22    0.028473
23    0.023327
2     0.018978
1     0.018110
6     0.016751
5     0.008934
3     0.008538
4     0.006387
Name: HOUR, dtype: float64